.image-card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(210, 208, 208);
    text-align: center;
    width: 150px;
    height: 150px;
    display: grid;
    align-items: center;

    .image-card-img-container {
        width: 96%;
        height: 95%;
        border: 1px solid hsl(0, 8%, 66%);
        border-radius: 5px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-card-img-container img {
        max-width: 95%;
        max-height: 95%;
        display: block;
        margin: auto;
    }
}

